:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--tg-theme-text-color, #ffffffde);
    background-color: var(--tg-theme-bg-color, #242424);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    position: fixed;
    overflow: hidden;
    padding: 0;
}

body > #app {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#app {
    text-align: center;
}

h1 {
    font-size: 1.5em;
    line-height: 1.1;
    font-family: 'Tiny5', monospace;
    font-weight: 400;
    margin: 0 0 16px 0;
    color: #fff;
}
h2 {
    font-size: 1.3em;
    line-height: 1.1;
    font-family: 'Tiny5', monospace;
    font-weight: 400;
    margin: 0 0 16px 0;
    color: #fff;
}

a {
    font-weight: 500;
    color: var(--tg-theme-link-color, #646cff);
    text-decoration: inherit;
}
a:hover {
    color: var(--tg-theme-link-color, #535bf2);
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    border-color: var(--tg-theme-button-text-color, #646cff);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--tg-theme-button-text-color, #646cff);
    background-color: var(--tg-theme-button-color, #1a1a1a);
    cursor: pointer;
    transition: border-color 0.25s;
}

@font-face {
    font-family: 'Tiny5';
    src: url('./fonts/Tiny5-SolidRegular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: 'Tiny5';
    src: url('./fonts/Tiny5-SolidBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
